* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.isi {
  width: 70rem;
  height: 40rem;
  padding-bottom: 20px;
  padding-right: 5px;
  display: flex;
  background: #00bc00;
  border-radius: 15px;
  box-shadow: 0 15px 20px black;
}
.login_form {
  width: 400px;
}

form {
  width: 250px;
  margin: 10rem;
}

.gambar img {
  width: 32rem;
  height: 30rem;
  margin-top: 5rem;
  margin-left: 9rem;
}

form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

input {
  width: 100%;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

button {
  border: none;
  outline: none;
  padding: 8px;
  width: 252px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background: #811001;
}

button:hover {
  background-image: url(img/background\ header.jpg);
}
