* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}

/* ----HEADER---- */
.head {
  position: sticky;
  top: 0;
}
header {
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #811001;
  z-index: 1;
}
.logo1 img {
  margin-left: 3rem;
  width: 65px;
  height: 50px;
}
.website {
  margin-left: 10px;
}
.website a {
  text-decoration: none;
  color: white;
}
.cari {
  margin-left: 45rem;
}
.cari input[type="text"] {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cari button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0bb405;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cari button:hover {
  background-color: #0056b3;
}
#keranjang img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
#keranjang img:hover {
  background-color: grey;
  border-radius: 20px;
}
.username {
  margin-left: 5px;
  padding: 10px;
  display: flex;
}
.username img {
  width: 30px;
  height: 30px;
}
.username p {
  margin-top: 3px;
  margin-left: 10px;
  font-size: 1.2em;
  color: white;
}
.login {
  margin-left: 1rem;
}
.login a {
  color: #04ec04;
  text-decoration: none;
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
}
.login a:hover {
  background-color: #00bc00;
  color: white;
}
/* ----Awalan---- */
.timer {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #f9a79c;
  z-index: 1;
  text-align: center;
}
h5 {
  margin-left: 3rem;
  margin-top: 1rem;
}
h5 a {
  text-decoration: none;
  color: black;
}
h5 a:hover {
  text-decoration: underline;
}
.awalan {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.awalan .login a {
  color: #04ec04;
  text-decoration: none;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
}
.awalan .login a:hover {
  background-color: #00bc00;
  color: white;
}

/* ----judul---- */
.judul {
  margin-top: 1.5rem;
  margin-left: 3rem;
  text-transform: uppercase;
}

/* PEMESANAN */
.datapembeli {
  margin-top: 10px;
  margin-left: 3rem;
  float: left;
}
fieldset {
  padding-right: 20rem;
  padding-left: 4rem;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #e8f9fd;
  border: none;
  box-shadow: 1px 1px 5px black;
}

fieldset input,
select {
  margin-bottom: 20px;
  padding: 7px 25rem 7px 7px;
  border-radius: 5px;
}
legend {
  background-color: #5bdd47;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.input input {
  padding: 15px;
  border-radius: 5px;
  color: #00bc00;
  border: 1px solid black;
  font-weight: bold;
  margin-bottom: 2rem;
}
.input input:hover {
  background-color: #00bc00;
  color: white;
}

.pesan_sukses {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  margin: 0rem 3rem 15px 65rem;
  text-align: center;
}
.pesan_gagal {
  background-color: #ce1717;
  color: white;
  padding: 10px;
  border: 1px solid;
  margin-bottom: 15px;
  margin: 0rem 3rem 15px 65rem;
  text-align: center;
}

/* ----Bukti transaksi---- */
/* CSS untuk pesan informasi */
.informasi {
  margin: 0rem 3rem 10rem 65rem;
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.kwitansi {
  margin: 0rem 3rem 10rem 65rem;
  padding: 10px;
  background-color: #e8f9fd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}
.poster {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}
.poster img {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-left: 20%;
  margin-bottom: 10px;
}
.voucher {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}
.voucher input {
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}
.voucher .terapkan {
  border-radius: 5px;
  color: #00bc00;
  border: 1px solid black;
}
.voucher .terapkan:hover {
  background-color: #00bc00;
  color: white;
}
.rincian {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}
.total p {
  margin-bottom: 10px;
}
.total a {
  margin-left: 4rem;
  padding: 5px 10rem;
  border-radius: 5px;
  color: #00bc00;
  border: 1px solid black;
  text-decoration: none;
  font-weight: bold;
}
.total a:hover {
  background-color: #00bc00;
  color: white;
}

/* TIKET SHOW */
#jenis_tiket {
  /* margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: 3rem;
  color: black; */
  top: 20%;
  width: 100%;
  color: black;
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  padding-top: 20px;
  padding-left: 20px;
  margin-left: 30px;
}
.vip_header {
  /* font-size: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: whitesmoke;
  background-image: url("img/konser\ 1.jpeg");
  border: 4px 2px 0 2px solid rgb(185, 182, 182);
  padding-left: 5%;
  border-radius: 2em 2em 0 0;
}
.ket1 {
  /* font-size: 10px; */
  padding-right: 5%;
}
/* ita tambah */
.td1 .vip_header {
  width: 300px;
  height: 70px;
}
.vip_body {
  /* background-color: rgba(128, 0, 128, 0.39);
  display: flex;
  gap: 250px; */
  width: 300px;
  display: block;
  align-items: left;
  justify-content: space-between;
  border: 2px solid black;
  border-bottom-left-radius: 2em;
  margin-bottom: 10%;
}
/* ita tambah */
.vip_body table {
  padding-top: 10%;
  padding-left: 5%;
}
.vip_body h2 {
  /* text-transform: uppercase; */
  text-transform: uppercase;
  padding-top: 8%;
  padding-left: 5%;
}
/* ita tambah */
.harga1 {
  padding-top: 12%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.reguler_header {
  /* font-size: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: whitesmoke;
  background-image: url("img/konser\ 1.jpeg");
  border: 4px 2px 0 2px solid rgb(185, 182, 182);
  padding-left: 5%;
  border-radius: 2em 2em 0 0;
}

/* ita tambah */
.ket2 {
  padding-right: 2.5px;
}
/* ita tambah */
.td2 .reguler_header {
  width: 300px;
  height: 70px;
}

.reguler_body {
  /* background-color: rgba(128, 0, 128, 0.39);
  display: flex;
  gap: 250px; */
  width: 300px;
  display: block;
  align-items: left;
  justify-content: space-between;
  border: 2px solid black;
  border-bottom-right-radius: 2em;
  margin-bottom: 10%;
}
/* ita tambah */
.reguler_body table {
  padding-top: 10%;
  padding-left: 5%;
}

.reguler_body h2 {
  /* text-transform: uppercase; */
  text-transform: uppercase;
  padding-top: 8%;
  padding-left: 5%;
}

/* ita tambah */
.harga2 {
  padding-top: 12%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}
